body{
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-image: url("../imagenes/fondito.jpg");
    
}
.cuadro{
    margin-left: 29%;
    margin-top: 8.5%;
    width: 600px;
    height: 550px;
    border-radius: 2rem;
    background-color: gray;
}
.scuadro{
    margin-left: 2.5%;
    width: 450px;
    height: 270px;
    border-radius: 0.5rem;
    background-color: rgb(85, 85, 85);
}
.tcuadro{
    margin-left: 1.7%;
    margin-top: -10.5px;
    width: 435px;
    height: 255px;
    border-radius: 0.5rem;
    background-color: khaki;
}
.tabla{
    margin-left: 10px;
}
.botones{
    border-radius: 0.5rem;
    border: none 8;
    border-color: black;
    width: 47px; 
    height: 44.5px;     
    font-size: 25px; 
    text-align: center;
    margin-top: 6.5px;
    margin-left: 8px;
}
.botones2{
    border-radius: 0.5rem;
    border: none 8;
    width: 94px;
    height: 44.5px;
    font-size: 17px;
    color: white;
    margin-left: 8px;
    margin-top: 6.5px;
    text-align: center;
}
.bflecha{
    margin-left: 8px;
    margin-top: 5px;
    border-radius: 0.5rem;
    border: none 1;
    border-color: black;
    width: 45px;
    height: 30px;
    background-image: url("../imagenes/1.png");
}
.bflecha2{
    margin-left: 8px;
    margin-top: 5px;
    border-radius: 0.5rem;
    border: none 1;
    border-color: black;
    width: 45px;
    height: 30px;
    background-image: url("../imagenes/2.png");
}
.card{
    width: 130px;
    height: 30px;
    background-color: rgb(58, 57, 57);
    border-radius: 0.5rem;
    margin-top: 1.8%;
    margin-left: 300px;
}
.subcard{
    width: 110px;
    height: 5px;
    background-color: black;
    border-radius: 5rem;
    float: left;
    margin: 10.5px;
}
.receipt{
    width: 130px;
    height: 30px;
    background-color: rgb(58, 57, 57);
    border-radius: 0.5rem;
    float: left;
    margin-left: 144px;
    margin-top: -30px;
}
.subreceipt{
    width: 110px;
    height: 5px;
    background-color: black;
    border-radius: 5rem;
    float: left;
    margin: 10.5px; 
}
.cash{
    width: 270px;
    height: 30px;
    background-color: rgb(58, 57, 57);
    border-radius: 0.5rem;
    margin-left: 300px;
    margin-top: 1%;
}
.deposit{
    width: 270px;
    height: 30px;
    background-color: rgb(58, 57, 57);
    border-radius: 0.5rem;
    margin-left: 300px;
    margin-top: 1%;
}
.subcash{
    width: 250px;
    height: 5px;
    background-color: black;
    border-radius: 5rem;
    float: left;
    margin: 10.5px;
}
.subdeposit{
    width: 250px;
    height: 5px;
    background-color: black;
    border-radius: 5rem;
    float: left;
    margin: 10.5px;
}
.pantalla{
    margin-left: 12px;
    color: maroon;
}
.password{
    width: 280px;
    height: 20px;
    font-size: 24px;
    padding-bottom: -5px;
    padding-top: 10px;
    border-radius: 0.5rem;
    border-color: darkorange;
}